_wandb:
    value:
        cli_version: 0.21.4
        e:
            b9833cwzgkgb1of272ygh5fm8d8zjes2:
                codePath: tests\test_ability.py
                codePathLocal: tests\test_ability.py
                cpu_count: 8
                cpu_count_logical: 12
                cudaVersion: "12.7"
                disk:
                    /:
                        total: "487606710272"
                        used: "196284928000"
                email: zangdo20052014@gmail.com
                executable: C:\Users\admin\.vscode\gomoku_rl\.venv\scripts\python.exe
                git:
                    commit: ca7b826b637e7b5eee7180843ccc3e99b7b1c8c6
                    remote: https://github.com/ngthtuvp2005/Gomoku.git
                gpu: NVIDIA GeForce RTX 4050 Laptop GPU
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Ada
                      cudaCores: 2560
                      memoryTotal: "6439305216"
                      name: NVIDIA GeForce RTX 4050 Laptop GPU
                      uuid: GPU-4a451990-68d0-d185-a517-a320e153c2e9
                host: MSI
                memory:
                    total: "25456627712"
                os: Windows-10-10.0.26200-SP0
                program: C:\Users\admin\.vscode\gomoku_rl\tests\test_ability.py
                python: CPython 3.10.0
                root: C:\Users\admin\.vscode\gomoku_rl
                startedAt: "2025-10-29T16:33:17.273755Z"
                writerId: b9833cwzgkgb1of272ygh5fm8d8zjes2
        m: []
        python_version: 3.10.0
        t:
            "1":
                - 1
                - 41
                - 50
                - 105
            "2":
                - 1
                - 41
                - 50
                - 105
            "3":
                - 14
            "4": 3.10.0
            "5": 0.21.4
            "8":
                - 3
            "12": 0.21.4
            "13": windows-amd64
algo.average_gae:
    value: false
algo.batch_size:
    value: 4096
algo.clip_param:
    value: 0.2
algo.entropy_coef:
    value: 0.01
algo.gae_lambda:
    value: 0.95
algo.gamma:
    value: 0.99
algo.max_grad_norm:
    value: 0.5
algo.name:
    value: ppo
algo.normalize_advantage:
    value: true
algo.num_channels:
    value: 64
algo.num_residual_blocks:
    value: 4
algo.optimizer.kwargs.lr:
    value: 0.0001
algo.optimizer.name:
    value: adam
algo.ppo_epochs:
    value: 3
algo.share_network:
    value: true
augment:
    value: false
baseline.average_gae:
    value: false
baseline.batch_size:
    value: 4096
baseline.clip_param:
    value: 0.2
baseline.entropy_coef:
    value: 0.001
baseline.gae_lambda:
    value: 0.95
baseline.gamma:
    value: 0.99
baseline.max_grad_norm:
    value: 0.5
baseline.name:
    value: ppo
baseline.normalize_advantage:
    value: true
baseline.num_channels:
    value: 64
baseline.num_residual_blocks:
    value: 4
baseline.optimizer.kwargs.lr:
    value: 0.0003
baseline.optimizer.name:
    value: adam
baseline.ppo_epochs:
    value: 3
baseline.share_network:
    value: true
black_checkpoint:
    value: pretrained_models/15_15/ppo/0.pt
black_checkpoint1:
    value: pretrained_models/15_15/ppo/black_final.pt
board_size:
    value: 15
device:
    value: cuda
epochs:
    value: 1000
num_envs:
    value: 400
out_device:
    value: cpu
run_dir:
    value: null
save_interval:
    value: 300
seed:
    value: 0
steps:
    value: 128 * 200
wandb.group:
    value: 15_15_ppo_InRL
wandb.mode:
    value: online
wandb.project:
    value: gomoku_rl
white_checkpoint:
    value: pretrained_models/15_15/ppo/1.pt
white_checkpoint1:
    value: pretrained_models/15_15/ppo/white_final.pt
